@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p></p>
<p>@Html.ActionLink("Highly Rated Item", "HighlyRatedItem", "Reports")</p>
<p>@Html.ActionLink("Most Purchased Item", "MostPurchasedItem", "Reports")</p>
<p>@Html.ActionLink("Highest NumberOfFaults", "HighestNumberOfFaults", "Reports")</p>
<p>@Html.ActionLink("Lowest Number Of Faults", "LeastNumberOfFaults", "Reports")</p>
