<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ElectrosLtdApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ElectrosLtdDBEntities" connectionString="metadata=res://*/Electros.csdl|res://*/Electros.ssdl|res://*/Electros.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CLEMENTINA\SQLEXPRESS;initial catalog=ElectrosLtdDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>


  
  
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>


  <system.web>

    
      

    
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/UserAuthentication/Login" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

   <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

   

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>



  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />



    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOrderItemService" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
        <binding name="BasicHttpBinding_IFaultService" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
        <binding name="BasicHttpBinding_IFaultTrackService" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_IOrderService" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        
        <binding name="BasicHttpBinding_IProductService" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
          
        <binding name="BasicHttpBinding_IReportsService" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        
        <binding name="BasicHttpBinding_IReviewService" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        
        <binding name="BasicHttpBinding_ITownService" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
        
        <binding name="BasicHttpBinding_IUserService" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
        
        <binding name="BasicHttpBinding_ICountryService" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        
        <binding name="BasicHttpBinding_IGenerateNumbers" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:3728/OrderItemService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderItemService"
        contract="OrderItemServ.IOrderItemService" name="BasicHttpBinding_IOrderItemService" />
      <endpoint address="http://localhost:3728/FaultService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IFaultService" contract="FaultServ.IFaultService"
        name="BasicHttpBinding_IFaultService" />
      <endpoint address="http://localhost:3728/FaultTrackService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFaultTrackService"
        contract="FaultTrackServ.IFaultTrackService" name="BasicHttpBinding_IFaultTrackService" />
      <endpoint address="http://localhost:3728/OrderService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IOrderService" contract="OrderServ.IOrderService"
        name="BasicHttpBinding_IOrderService" />
      <endpoint address="http://localhost:3728/ProductService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService"
        contract="ProductServ.IProductService" name="BasicHttpBinding_IProductService" />
      <endpoint address="http://localhost:3728/ReportsService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportsService"
        contract="ReportServ.IReportsService" name="BasicHttpBinding_IReportsService" />
      <endpoint address="http://localhost:3728/ReviewService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IReviewService" contract="ReviewServ.IReviewService"
        name="BasicHttpBinding_IReviewService" />
      <endpoint address="http://localhost:3728/TownService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ITownService" contract="TownServ.ITownService"
        name="BasicHttpBinding_ITownService" />
      <endpoint address="http://localhost:3728/UserService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IUserService" contract="UserServ.IUserService"
        name="BasicHttpBinding_IUserService" />
      <endpoint address="http://localhost:3728/CountryService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICountryService"
        contract="CountryServ.ICountryService" name="BasicHttpBinding_ICountryService" />
      <endpoint address="http://localhost:3728/GenerateNumbers.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGenerateNumbers"
        contract="GenNumServ.IGenerateNumbers" name="BasicHttpBinding_IGenerateNumbers" />
    </client>
  </system.serviceModel>
  <!--<applicationSettings>
    <ElectrosLtdApplication.Properties.Settings>
      <setting name="ElectrosLtdApplication_barcodeservice_BarCode"
        serializeAs="String">
        <value>http://www.webservicex.net/genericbarcode.asmx</value>
      </setting>
    </ElectrosLtdApplication.Properties.Settings>
  </applicationSettings>-->


 

  
  <applicationSettings>
    <ElectrosLtdApplication.Properties.Settings>
      <setting name="ElectrosLtdApplication_BarCodeServ_BarCode" serializeAs="String">
        <value>http://www.webservicex.net/genericbarcode.asmx</value>
      </setting>
      <setting name="ElectrosLtdApplication_SmsServ_ClickatellSms"
        serializeAs="String">
        <value>http://api.clickatell.com/soap/document_literal/webservice.php</value>
      </setting>
    </ElectrosLtdApplication.Properties.Settings>
  </applicationSettings>


<!--email--> 
  <system.net>
    <mailSettings>
      <smtp from="cassarclementina@gmail.com">
        <network host="smtp.gmail.com" password="79009492" userName="websiteclem@gmail.com" port="587"/>
      </smtp>
    </mailSettings>
  </system.net>

  
   
 
</configuration>
